body {
    font-family: Arial, sans-serif;

    background-color: #17181d;

    color: white;
}
/* ================= HEADER ================= */
header {
    height: 75px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 7%;

    background-color: #191a20;
}


/* Logo */

.logo {
    font-size: 28px;

    font-weight: bold;
}

.logo span {
    color: #9b61e8;
}


/* Navigation */

nav {
    display: flex;

    gap: 22px;
}

nav a {
    color: white;

    text-decoration: none;

    font-size: 13px;
}

nav a:hover {
    color: #9b61e8;
}


/* ================= MAIN ================= */

main {
    min-height: calc(100vh - 125px);

    padding: 50px 7%;
}


/* ================= HEADING ================= */

.heading {
    margin-bottom: 35px;
}

.heading p {
    color: #9b61e8;

    font-size: 12px;

    font-weight: bold;

    letter-spacing: 3px;

    margin-bottom: 10px;
}

.heading h1 {
    font-size: 45px;

    margin-bottom: 8px;
}

.heading h1 span {
    color: #9b61e8;
}

.heading h3 {
    color: #888;

    font-size: 14px;

    font-weight: normal;
}


/* ================= NOTICES ================= */

.notices {
    display: flex;

    flex-direction: column;

    gap: 18px;
}


/* Notice Card */

.notice-card {
    display: flex;

    background-color: #202126;

    border: 1px solid #292a31;

    border-radius: 10px;

    padding: 22px;

    transition: 0.3s;
}

.notice-card:hover {
    border-color: #9b61e8;

    transform: translateX(4px);
}


/* ================= DATE ================= */

.notice-date {
    min-width: 75px;
    height: 75px;

    background-color: #9054df;

    border-radius: 8px;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;
    gap= 2px;
    margin-right: 25px;

    
}

.notice-date h2 {
    font-size: 25px  ;
    margin: 0;
}

.notice-date p {
    font-size: 11px;
    margin: 0 ;
}


/* ================= CONTENT ================= */

.notice-content {
    flex: 1;
}


/* Notice labels */

.notice-content span {
    display: inline-block;

    font-size: 9px;

    font-weight: bold;

    padding: 5px 9px;

    border-radius: 4px;

    margin-bottom: 8px;
}
/* Notice title */

.notice-content h2 {
    font-size: 19px;

    margin-bottom: 8px;
}


/* Notice description */

.notice-content > p {
    color: #999;

    font-size: 13px;

    line-height: 1.6;

    max-width: 850px;
}


/* Posted date */

.notice-content .posted {
    color: #666;

    font-size: 10px;

    margin-top: 10px;
}


/* ================= FOOTER ================= */

footer {
    height: 50px;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: #191a20;

    color: #777;

    font-size: 11px;
}
