* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #17181d;
    color: white;
    margin: 0;
}


/* ================= HEADER ================= */

header {
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;

    background-color: #191a20;
}


/* Logo */

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #9b61e8;
}


/* Navigation */

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

nav a:hover {
    color: #9b61e8;
}


/* ================= MAIN ================= */

main {
    width: 60%;
    max-width: 1100px;

    margin: 40px auto;
}


/* ================= HEADING ================= */

.heading {
    margin-bottom: 25px;
}

.heading p {
    color: #9b61e8;

    font-size: 12px;
    font-weight: bold;

    letter-spacing: 3px;
}

.heading h1 {
    font-size: 45px;
    margin:8px;
}

.heading h1 span {
    color: #9b61e8;
}

.heading h3 {
    color: #888;

    font-size: 14px;
    font-weight: normal;
}


/* ================= PROFILE SECTION ================= */

.profile {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 25px;
}


/* ================= PROFILE CARD ================= */

.profile-card {
    width: 100%;

    background-color: #202126;

    border: 1px solid #292a31;

    border-radius: 12px;

    padding: 30px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card:hover {
    border-color: #9b61e8;
    transform: translateY(-3px);
}


/* ================= PROFILE PICTURE ================= */

.profile-picture {
    width: 100px;
    height: 100px;

    margin:  auto 20px;

    border-radius: 50%;

    background-color: #9054df;

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 40px;

    font-weight: bold;
}


/* ================= NAME ================= */

.profile-card h2 {
    font-size: 21px;

    margin:8px;
}


/* ================= COURSE ================= */

.course {
    color: #aaa;

    font-size: 12px;

    line-height: 1.5;

    margin-bottom: 5px;
}


/* ================= UNIVERSITY ================= */

.university {
    color: #777;

    font-size: 11px;

    margin-bottom: 20px;
}


/* ================= STUDENT ID ================= */

.student-id {
    background-color: #292a31;

    color: #aaa;

    padding: 10px;

    border-radius: 6px;

    font-size: 11px;
}


/* ================= DETAILS ================= */

.details {
    width: 100%;

    background-color: #202126;

    border: 1px solid #292a31;

    border-radius: 12px;

    padding: 30px;

    transition: 0.3s;
}

.details:hover {
    border-color: #9b61e8;
}

.details h2 {
    font-size: 20px;

    margin: 25px;
}


/* ================= INFORMATION ================= */

.information {
    display: grid;

    gap: 20px;

    margin-bottom: 35px;
}


/* Information Item */

.information div {
    padding-bottom: 15px;

    border-bottom: 1px solid #333;
}

.information p {
    color: #777;

    font-size: 11px;

    margin: 7px;
}

.information h3 {
    color: #ddd;

    font-size: 13px;

    font-weight: normal;

}


/* ================= ACADEMIC ================= */

.academic-title {
    border-top: 1px solid #333;

    padding-top: 25px;
}


/* ================= EDIT BUTTON ================= */

.edit-button {
    display: inline-block;

    background-color: #9b61e8;

    color: white;

    text-decoration: none;

    padding: 12px 22px;

    border-radius: 6px;

    font-size: 12px;
}

.edit-button:hover {
    background-color: #8248d0;

}


/* ================= FOOTER ================= */

footer {
    height: 50px;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #191a20;

    color: #777;

    font-size: 11px;

    margin-top: 50px;
}